<ion-header>
  <ion-toolbar>
    <ion-title>tweets</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="search" debounce="250" placeholder="#Hashtag" (ionChange)="filter()"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item-sliding *ngFor="let tweet of tweets">

      <ion-item>
        <ion-label>
          <h2>{{tweet.tweet}}</h2>
  
          <p *ngIf="tweet._author; else userDeleted" class="user" [class.me]="canEdit(tweet)">
            {{ getAuthor(tweet) }} 
            <ion-icon *ngIf="canEdit(tweet)" name="heart" color="danger-tint"></ion-icon> 
          </p>
          <ng-template #userDeleted>
            <p class="user-deleted">User deleted</p>
          </ng-template>
          <ion-button (click)="onLike(tweet)">
            <ion-icon name="heart" [color]="hasLike(tweet) ? 'danger' : 'medium'"></ion-icon>
            &nbsp;{{ getLikes(tweet) }}
          </ion-button>
          <ion-icon name="star" [color]="like_bool ? 'warning' : 'medium'" ></ion-icon>
        </ion-label>
        <ion-note slot="end">{{ tweet.created_at | date : 'short' }}</ion-note>
      </ion-item>
  
      <ion-item-options *ngIf="canEdit(tweet); else otherTweets" side="end">
        <ion-item-option color="secondary" (click)="createOrEditTweet(tweet)">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="deleteTweet(tweet)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ng-template #otherTweets>
          <ion-item-options side="end">
              <ion-item-option color="primary" (click)="showDetails(tweet)">
                <ion-icon slot="icon-only" name="chatboxes" ></ion-icon>
              </ion-item-option>
          </ion-item-options>
        </ng-template>  
      
    </ion-item-sliding>

  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="createOrEditTweet()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
