<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="false">

  <div class="form__container">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="loginUser.email"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input minlength="5" type="password" [(ngModel)]="loginUser.password"></ion-input>
    </ion-item>
  
    <ion-row>
      <ion-col>
        <ion-button [disabled]="isDataInvalid()" fill="solid" expand="full" (click)="login()">Login</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button fill="clear" expand="full" (click)="goToSignup()">New account</ion-button>
      </ion-col>
    </ion-row>
  </div>

</ion-content>
