<ion-header>
  <ion-toolbar>
    <ion-title>new-tweet</ion-title>
  <ion-buttons slot="end">
    <ion-button color="dark" (click)="dismiss()">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="false">

  <ion-item>

    <ion-label position="stacked">{{ editMode ? 'Edit' : 'Write' }} your message</ion-label>

    <ion-textarea *ngIf="editMode; else newMode" [(ngModel)]="tweetToEdit.tweet"></ion-textarea>
    <ng-template #newMode>
      <ion-textarea minlength="1" maxlength="120" [(ngModel)]="newTweet.tweet"></ion-textarea>
    </ng-template>

  </ion-item>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="full" [disabled]="isDataInvalid()" (click)="createOrEditTweet()">Tweet</ion-button>
  </ion-toolbar>
</ion-footer>
