<ion-header>
    <ion-toolbar>
      <ion-title>details-tweet</ion-title>
    <ion-buttons slot="end">
      <ion-button color="dark" (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{tweet.tweet}}</ion-card-title>
      <ion-card-subtitle>{{tweet._author.name}} {{tweet._author.surname}}</ion-card-subtitle>
      <ion-card-subtitle>{{tweet.created_at | date : 'short'}}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  
<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let comment of comments">
     
      <ion-item>
        <ion-label>
          <h2>{{ comment.tweet }}</h2>
        
            <p *ngIf="comment._author; else userDeleted" class="user" [class.me]="isMyTweet(comment)">
            {{ getAuthor(comment) }} 
              <ion-icon *ngIf="isMyTweet(comment)" name="heart" color="danger-tint"></ion-icon> 
            </p>
            <ng-template #userDeleted>
              <p class="user-deleted">User deleted</p>
            </ng-template>
            <ion-button (click)="onLike(comment)">
              <ion-icon name="heart" [color]="hasLike(comment) ? 'danger' : 'medium'"></ion-icon>
              &nbsp;{{ getLikes(comment) }}
            </ion-button>
        </ion-label>
        <ion-note slot="end">{{ comment.created_at | date : 'short' }}</ion-note>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>
  
<ion-footer>
  <ion-toolbar>
    <ion-item>
      <ion-textarea placeholder="Enter comment.." [(ngModel)]="newComment.tweet"></ion-textarea>
      <ion-button expand="full" [disabled]="isDataInvalid()" (click)="commentTweet()">
        <ion-icon slot="icon-only" name="send"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-footer>
