<ion-header>
  <ion-toolbar>
    <ion-title>favorites</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item-sliding *ngFor="let favorite of favorites">

      <ion-item>
        <ion-label>
          <h2>{{favorite.tweet}}</h2>
  
          <p *ngIf="favorite._author; else userDeleted" class="user">
            {{ getAuthor(favorite) }} 
          </p>
          <ng-template #userDeleted>
            <p class="user-deleted">User deleted</p>
          </ng-template>        
        </ion-label>
        <ion-note slot="end">{{ favorite.created_at | date : 'short' }}</ion-note>
      </ion-item>
  
    </ion-item-sliding>

  </ion-list>


</ion-content>
